<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>Insert title here</title>
</head>
<body>
<div class="content">
			<div class="content_menu">
				<ul>
					<li><a href="#">국내도서</a></li>
					<li><a href="#">eBook</a></li>
				</ul>
			</div>
			<div class="content_body_all">
			<div class="content_body1">
				<div class="table">
					<div class="text1">카테고리</div>
					<div class="row">
						<select name="col">
							<option value="1970">1</option>
							<option value="회사원">회사원</option>
							<option value="학생"> 학생</option>
							<option value="전문직">전문직</option>
							<option value="기타">기타</option>
						</select>
					</div>
				</div>

				<div class="table">
					<div class="text1">도서명(ISDN)</div>
					<div class="row">
						<input type="text" name="" value="">
					</div>
				</div>

				<div class="table">
					<div class="text1">저자/역자</div>
					<div class="row">
						<input type="text" name="" value="">
					</div>
				</div>

				<div class="table">
					<div class="text1">출판사</div>
					<div class="row">
						<input type="text" name="" value="">
					</div>
				</div>

			</div>
			<div class="content_body2">
				<div class="table">
					<div class="text1">출판일</div>
					<div class="during">
						<input type="button" value="1개월">
						<input type="button" value="3개월">
						<input type="button" value="6개월">
						<input type="button" value="1년">
					</div>
				</div>
				<div class="table">
				<div class="text1"></div>
				<div class="row">
					<select name="cate">
						<option value="1970"></option>
						<option value="회사원">회사원</option>
						<option value="학생"> 학생</option>
						<option value="전문직">전문직</option>
						<option value="기타">기타</option>
						</select>
						<label>년</label>
						<select name="cate">
						<option value="1970"></option>
						<option value="회사원">회사원</option>
						<option value="학생"> 학생</option>
						<option value="전문직">전문직</option>
						<option value="기타">기타</option>
						</select>
						<label>월 ~</label>
						<select name="cate">
						<option value="1970"></option>
						<option value="회사원">회사원</option>
						<option value="학생"> 학생</option>
						<option value="전문직">전문직</option>
						<option value="기타">기타</option>
						</select>
						<label>년</label>
						<select name="cate">
						<option value="1970"></option>
						<option value="회사원">회사원</option>
						<option value="학생"> 학생</option>
						<option value="전문직">전문직</option>
						<option value="기타">기타</option>
						</select>
						<label>월</label>
				</div>
			</div>
					<div class="table">
						<div class="text1">가격대</div>
						<div class="row">
							<input type="text"/><label>원 부터~</label>
							<input type="text"/><label>까지</label>
						</div>
					</div>

					<div class="table">
						<div class="text1">정렬방법</div>
						<div class="row">
							<select id="state" name="solt">
								<option value="정확도">정확도</option>
								<option value="판매량">판매량</option>
								<option value="평점">평점</option>
								<option value="리뷰">리뷰</option>
							</select>
						</div>
					</div>

					<div class="table">
						<div class="text1">판매상태</div>
						<div class="row" >
							<input type="checkbox" name="" value=""> 품절/절판제외
						</div>
					</div>
			</div>
			<div class="btn">
				<input type="submit" value="검색"/>
				<input type="reset" value="초기화"/>
			</div>
			</div>
		</div>
</body>
</html>