<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="dao.recommendMapper">

  <select id="RecommendSelectInterest" parameterType="String" resultType="String">
    select interest from member where member_id = #{id}
  </select>
  
  
  <select id="RecommendSelectInterestBook" parameterType="String" resultType="com.boogie.recommend.dto.RecommendInterestDto">
  	<![CDATA[
  	select * from (select * from book where type02 = #{interest} order by dbms_random.value) where rownum = 1
  	]]>
  </select>
  
  <select id="MarkSelectBookName" resultType="String">
  	<![CDATA[
  		select book_id from (select book_id, avg(rate) aver from review group by book_id ORDER by aver DESC) where rownum < 5
  	]]>
  </select>
  
  <select id="MarkSelectList" resultType="Float">
  	<![CDATA[
  		select * from (select avg(rate) aver from review group by book_id ORDER by aver DESC) where rownum < 5
  	]]>
  </select>
  
  <select id="MarkSelectBook" parameterType="String" resultType="com.boogie.recommend.dto.RecommendMarkDto">
  	<![CDATA[
  		select * from book where book_id=#{input}
  	]]>
  </select>

  <select id="ReviewSelectList" resultType="java.util.HashMap">
  	<![CDATA[
  		select to_Number(member_num) member_num, to_Number(book_id) book_id, to_Number(rate) rate from review
  	]]>
  </select>
</mapper>