@charset "UTF-8";

a:hover{
	cursor: pointer;
}

.interest_subject1{
	width:100%;
	margin-top: 20px;
	color:green;
	height:10%;
	border: 0px solid blue;

}

.interest_subject2{
	width:100%;
	font-size: 1.4em;
	color: black;
	height: 35%;
	border: 0px solid red;
	margin-bottom: 20px;
}
.sell_price{
	margin-top: 7px;
}

.interest_subject3{
	width:100%;
	font-size: 1.4em;
	color: black;
	height: 35%;
	border: 0px solid black;
	margin-bottom: 20px;
}

.book_volume{
	height: 30%;
	width: 100%;
	border: 0px solid green;
}

.delivery{
	margin-top: 20px;
	width:100%;
	height:10%;
	font-size: 1.0em;
	color: black;
	border:0px solid red;
}


button{
    border: 1px solid #5e6b9e !important;
    background-color: rgba(0,0,0,0);
    color: #5e6b9e;
    padding: 5px;
    border-radius: 5px;
}

#content{
	width: 100%;
	margin: 0px auto;
	border: 0px solid red;
}

#content #center{
    overflow: hidden;
}

.center{
    width: 1000px;
    border: 0px solid blue;
    margin: 0px auto;
}

.center > .section1_l{
	width: 20%;
    overflow: hidden;
	border: 0px solid #CCCCCC;
    float: left;
}

.book_list{
    border: 1px solid #5e6b9e;
    margin: 40px 20px;
}

.book_list li{
	font-size: 0.8em;
    margin: 5px;
    color: black !important;
}

.book_list a{
	height: 100px !important;
	color: black !important;
}

.book_list li:hover{
    font-weight: bold;
    cursor: pointer;
}

.center > .section1_r{
	width: 75%;
	overflow: hidden;
	border: 1px solid #CCCCCC;
}

.section3{
	width: 100%;
    margin-bottom: 50px;
    overflow: hidden;
    border: 1px solid blue;
}



.section4{
	width: 100%;
	overflow: hidden;
    border: 0px solid black;
}

.review_rate_form{
	width: 98%;
	height: 200px;
	margin: 0px auto;
	border-top: 1px solid #5e6b9e;
	border-bottom: 0px solid #5e6b9e;
}

.review_rate_l{
	width: 20%;
	height: 100%;
	border: 0px solid black;
	float: left;
}

.review_rate_l_top{
	text-align: center;
	line-height:2;
	width: 100%;
	height: 20%;
	border: 0px solid red;
}

.review_rate_l_middle{
	width: 100%;
	height: 20%;
	border: 0px solid red;
}

.review_rate_l_bottom{
	width: 100%;
	height: 59%;
	border: 0px solid red;
	text-align: center;
	color:red;
}

.review_rate_r_bottom textarea{
	width: 75%;
	height: 70%;
	border-radius: 10px;
	float: left;
	margin-top: 15px;
	margin-left: 20px; 
}
.review_rate_r_bottom button{
	width: 70px;
	height: 70%;
	float: left;
	margin-top: 15px;
	margin-left: 10px;
}

.review_rate_r{
	width: 78%;
	height: 100%;
	border-left: 1px solid #CCCCCC;
	float: left;
}

.review_rate_bottom{
	width: 98%;
	margin: 0px auto;
	overflow: hidden;
	border: 0px solid red;
}

.review_rate_r_top{
	text-align: left;
	line-height: 2;
	width: 100%;
	height: 20%;
	border: 0px solid red;
}

.review_rate_r_middle{
	width: 100%;
	height: 20%;
	border: 0px solid red;
}

.review_rate_r_middle img{
	width: 80px;
	height: 25px;
}

.review_rate_r_middle input{
	margin-left: 10px;
}

.radio_form{
	width: 100%;
	overflow: hidden;
	margin: 5px auto;
	border: 0px solid black;
	border-radius: 10px;
	text-align: center;
}

.review_rate_r_bottom{
	width: 100%;
	height: 59%;
	border: 0px solid red;
}

.review_list_form{
	width: 98%;
	overflow: hidden;
	margin: 0px auto;
	border-top: 1px solid #5e6b9e;
}

.review_list_top{
	width: 98%;
	height: 40px;
	border: 0px solid blue;
	border-bottom: 1px solid #5e6b9e;
	
}

.reviw_list_id{
	width: 20%;
	height: 100%;
	float: left;
	line-height: 40px;
}
.reviw_list_date{
	width: 30%;
	height: 100%;
	float: left;
	line-height: 40px;
}
.reviw_list_rate{
	width: 50%;
	height: 100%;
	float: left;
	text-align: right;
	line-height: 40px;
}

.reviw_list_rate img{
	width: 70px;
	height: 50%;
}

.review_list_content{
	width: 85%;
	height: 100px;
	margin: 10px auto;
}

.review_list_bottom{
	width: 98%;
	overflow:hidden;
	border: 0px solid blue;
}

.section2{
    width: 98%;
    border: 0px solid red;
    overflow: hidden;
    margin: auto;
}

.section2 .interest{
    border: 0px solid #CCCCCC;
    width: 97%;
    height: 600px;
    margin: 40px auto;
}

.interest_top{
    width: 100%;
    height: 30px;
    border: 0px solid blue;
    line-height: 30px;
}

.interest_top_l{
    width: 100% !important;
    float: left;
    text-align: left;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 1.5em;
}

.interest_subject3{
	font-size: 1em;
}


.interest_body{
    width: 100%;
    height: 500px;
    border: 1px solid #CCCCCC;
    margin-top: 10px;
    margin-left: 10px;
}

.interest_img{
    border: 1px solid #CCCCCC;
    float: left;
    width: 35%;
    height:350px;
    margin-top: 20px;
    margin-left: 10px;
}

.interest_subject_form{
    border: 0px solid #CCCCCC;
    float: left;
    width: 50%;
    height: 80%;
    margin-left: 20px;
}

.interest_sub{
    border: 0px dotted green;
    width: 100%;
    height: 75%;
}

.interest_btn{
    padding-top: 10px;
    border: 0px solid blue;
    width: 100%;
    height: 15%;
    text-align: right;
}

.interest_des{
    border: 0px dotted green;
    width: 100%;
    height: 10px;
    margin-top:  30px;
}





