<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.searchMapper">

	<select id="searchList" parameterType="String"	resultType="com.boogie.search.dto.SearchDto">
  	<![CDATA[
  	select * from book where book_name like '%'||#{keyword}||'%'
  	 ]]>
	</select>
	
	<select id="searchPageResult" parameterType="java.util.HashMap"	resultType="com.boogie.search.dto.SearchDto">
  <![CDATA[
  select * from (select rownum rnum, a.* from (select * from book 
order by book_name desc) a)b where b.rnum >=#{startRow} and rnum <=#{endRow}
   ]]>
	</select>
	
	<select id="PageList" parameterType="java.util.HashMap"	resultType="com.boogie.search.dto.SearchDto">
	<![CDATA[
	select * from (select rownum rnum, a.* from (select * from book where book_name like '%'||#{keyword}||'%') a)b where b.rnum >=#{startRow} and rnum <=#{endRow}
	]]>
	</select>
	
	<select id="searchCount" parameterType="java.util.HashMap"	resultType="int">
  	
  	select count(*) from book 
  	<where>
  		<if test="#{book_name}!=null or #{book_name}!=''">
  		<![CDATA[
  		 book_name like '%'||#{book_name}||'%'
  		]]>
  		</if>
  		
  		<if test="#{author}!=null or #{author}!=''">
  		<![CDATA[
  		and author like '%'||#{author}||'%'
  		]]>
  		</if>
  		
  		<if test="#{author}!=null or #{author}!=''">
  		<![CDATA[
  		and author like '%'||#{author}||'%'
  		]]>
  		</if>
  		
  		<if test="#{publisher}!=null or #{publisher}!=''">
  		<![CDATA[
  		and publisher like '%'||#{publisher}||'%'
  		]]>
  		</if>
  		
  		<if test="#{type}!=null or #{type}!=''">
  		<![CDATA[
  		and type02 like '%'||#{type}||'%'
  		]]>
  		</if>
  </where>
	</select>
	
	<select id="multiList" parameterType="java.util.HashMap" resultType="com.boogie.search.dto.SearchDto">
	<![CDATA[
	select * from (select rownum rnum, a.* from (select * from book
	]]>
	<where>
  		<if test="#{book_name}!=null or #{book_name}!=''">
  		<![CDATA[
  		 book_name like '%'||#{book_name}||'%'
  		]]>
  		</if>
  		
  		<if test="#{author}!=null or #{author}!=''">
  		<![CDATA[
  		and author like '%'||#{author}||'%'
  		]]>
  		</if>
  		
  		<if test="#{author}!=null or #{author}!=''">
  		<![CDATA[
  		and author like '%'||#{author}||'%'
  		]]>
  		</if>
  		
  		<if test="#{publisher}!=null or #{publisher}!=''">
  		<![CDATA[
  		and publisher like '%'||#{publisher}||'%'
  		]]>
  		</if>
  		
  		<if test="#{type}!=null or #{type}!=''">
  		<![CDATA[
  		and type02 like '%'||#{type}||'%'
  		]]>
  		</if>
  </where>
	<![CDATA[ )a)b where b.rnum >=#{startRow} and rnum <=#{endRow}]]>

	</select>
	
	<select id="autoList" resultType="com.boogie.search.dto.SearchDto">
		<![CDATA[
		select book_name from book
		]]>
	</select>
	
</mapper>