@charset "UTF-8";

*{ margin:0px; padding: 0px;}
a{text-decoration: none;}
li{list-style-type: none;}


header{
	width: 100%; margin: 0px auto;
}

header > .gnb{
	width: 100%;
    border-bottom-style: solid;
    border-bottom-color: #EAEAEA;
    border-bottom-width: thin;
}

.center{
    width: 1000px; margin: 0px auto;
}

header > .gnb> ul{
	width: 1000px; height:30px; line-height:30px;
	margin: 0px auto;
}

header >.gnb li{
	margin-left: 10px; font-size: 0.7em;
}

header >.gnb a{color:black;}

.topHeader_l{
    float: left;
}

.topHeader_r{
    float: right;
    font-size: 0.8em !important;
}

header > .middleHeader{
    width: 1000px; height: 100px;
}

.logo{
	width: 250px; height: 100px; border: 0px solid #cccccc;
	text-align: center; line-height: 100px; float: left
}

#logoImg{
	width: 250px; height: 96px; 
}

.search_form{
	width: 500px; height: 100px; border: 0px solid #cccccc;
	text-align: right; line-height: 50px; float: right;
	font-size: 20px;
}

.search_form > div{
    border: 0px solid #cccccc;
}

.search_top{
    height: 40%;
}

.search{
    height: 55%
}

header > .lnb{
	width: 100%; border:0px solid #cccccc;
	overflow: hidden; background-color: #5e6b9e; height: 50px;
}
header > .lnb >ul{
	margin: 0px auto;
    border:0px solid blue;
    height: 100%;
}

header > .lnb li{
	border:0px solid #cccccc;
	float:left; width: 100px; height:50px; line-height: 50px;
	text-align: center;
    font-family: 'Do Hyeon', sans-serif !important;
}

header > .lnb a{
	color:white; font-size: 15px;
	font-weight: bold;
}
