@charset "UTF-8";
*{ margin:0px; padding: 0px; font-family: 고딕; }
a{text-decoration: none; }
li{list-style-type: none;}

.content{
	border: 1px #c2c2c2 solid;
	width: 1000px; height: 400px;
	display: table;
  margin: 0px auto; font-size: 13px;
}

.topcontent{
	border: 1px solid red;
	width: 1000px; overflow: hidden;
	display: inline-block;
}

.textline{
	border: 1px solid red;
	width: 500px; height: 130px;
	display: inline;
}
.btn{
	border: 0px green solid;
	width:820px; overflow:hidden;
	text-align:center;
	float: right;
}
.btn input{
	width: 100px; height: 50px;
	margin: 10px 20px;
	background-color: #003a75;
  border-radius: 25px;
	color: white;
}
