@charset "UTF-8";
*{ margin:0px; padding: 0px;  }
a{text-decoration: none; }
li{list-style-type: none;}

.row_all{
	width: 1000px; height: 250px;
	border: 0px solid red;
	margin: 10px auto;
	display: flex;
	line-height: 2;
}
.row_all > .books{
	width: 160px; height: 200px;
	border: 1px solid #5e6b9e;
	font-family: "고딕";
	text-align: center;
	margin: 10px 18px;
}
.img_file{
	width: 100px; height: 100px;
	border: 0px solid red;
	margin: 10px auto;
}
.img_file>img{
	width: 100px; height: 100px;
	border: 0px solid red;
}
.book_info {
	font-size: 11px;
	text-align: center;
	border-right: : 1px solid #cccccc;
}

.book_info li{
	text-overflow: ellipsis;
    height: 25px;
    overflow: hidden;
    white-space: nowrap;
}